Django==5.0.4
djangorestframework==3.15.1
django-cors-headers==4.4.0
python-decouple==3.8
python-dateutil==2.9.0.post0
psycopg2-binary==2.9.9
drf-yasg==1.21.7
django-filter==24.2
django-debug-toolbar==4.3.0
Pillow


Django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
Pillow
gunicorn
whitenoise
dj-database-url
psycopg2-binary
python-dotenv